<div class="list-container">
  <div class="inputs">
    <mat-card>
      <div class="main">
        <mat-form-field
          class="search"
          [ngClass]="{ 'search-small': innerWidth < 720 }"
        >
          <mat-label *ngIf="list$ | async as list"
            >Search among {{ list.length }} terms</mat-label
          >
          <input
            matInput
            type="text"
            [formControl]="searchFormControl"
            [value]="searchValue"
          />
          <button
            *ngIf="searchValue"
            matSuffix
            mat-icon-button
            (click)="searchValue = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="filter-btn">
          <button
            mat-mini-fab
            [color]="showCategoryFilter ? 'warn' : 'accent'"
            (click)="filterButtonToggle()"
          >
            <mat-icon>filter_alt</mat-icon>
          </button>
        </div>
      </div>
      <div class="sub" *ngIf="showCategoryFilter">
        <div *ngFor="let cf of catFilters">
          <mat-checkbox
            [(ngModel)]="cf.selected"
            (ngModelChange)="refreshList()"
            >{{ cf.displayName }}</mat-checkbox
          >
        </div>
      </div>
    </mat-card>
  </div>
  <div class="list">
    <app-list-item *ngFor="let item of list" [item]="item"></app-list-item>
  </div>
</div>
