<div *ngIf="item?.image" class="cat">
  <img
    class="cat-img"
    [ngClass]="{ glow: selected }"
    src="{{ item?.image }}"
    alt="Mage Wars card"
  />
  <div *ngIf="addOverlay" class="overlay">
    <img class="overlay-icon" src="assets/add_card.png" />
  </div>
</div>
<div *ngIf="!item?.image" class="cat">
  <mat-card class="blank-card">
    <mat-card-title>{{ item?.name }}</mat-card-title>
    <mat-card-subtitle>{{ item?.type }}</mat-card-subtitle>
    <mat-card-content
      ><br />The missing illustration is coming soon!<br
    /></mat-card-content>
  </mat-card>
</div>
