<div class="app" [ngClass]="{ contained: !wideScreen }" role="main">
  <div class="header">
    <img
      class="header-img"
      mat-card-image
      src="assets/MW_logo.png"
      alt="Mage Wars logo"
    />
  </div>
  <div class="navigation">
    <mat-button-toggle-group name="tabs" [value]="selectedTab">
      <mat-button-toggle
        value="codex"
        class="nav-btn"
        [ngClass]="{ 'btn-sm': innerWidth < 720 }"
        color="accent"
        (click)="navigateTo('codex')"
        >Codex</mat-button-toggle
      >
      <mat-button-toggle
        value="mages"
        class="nav-btn"
        [ngClass]="{ 'btn-sm': innerWidth < 720 }"
        color="accent"
        (click)="navigateTo('mages')"
        >Mages</mat-button-toggle
      >
      <mat-button-toggle
        value="catalog"
        class="nav-btn"
        [ngClass]="{ 'btn-sm': innerWidth < 720 }"
        color="accent"
        (click)="navigateTo('catalog')"
        >Catalog</mat-button-toggle
      >
      <mat-button-toggle
        value="deck"
        class="nav-btn"
        [ngClass]="{ 'btn-sm': innerWidth < 720 }"
        color="accent"
        (click)="navigateTo('deck')"
        >Spellbook</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <router-outlet></router-outlet>
  <div class="footer">
    <div class="scroll-to-top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
      <button mat-mini-fab type="button" color="accent" (click)="scrollToTop()">
        <mat-icon>arrow_upward</mat-icon>
      </button>
    </div>
  </div>
</div>
