.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px auto;
	background-color: rgb(138, 0, 0);
	border-radius: 1em;
}

.contained {
	max-width: 800px;
}

.navigation{
	margin-bottom: 4px;
}

.nav-btn {
	width: 125px;
	font-size: large;
	font-weight: bold;
	border: 2px solid white;
}

.btn-sm {
	width: 95px;
}

.mat-button-toggle{
	background-color: rgb(182, 135, 7);
}

.mat-button-toggle-checked {
	background-color: rgb(255, 187, 0);
}

.header-img {
	display: block;
	width: 600px;
	height: auto;
}