.mage-list {
	padding: 1em;
}

.mage-card {
	margin: 2em 1em;
	transition: all 0.25s ease-in-out;
}

.mage-img {
	max-height: 320px;
	max-width: 320px;
	margin: 0 0.5em;
	filter: drop-shadow(0 0 0.25rem black);
}

.glow {
	transform: scale(1.05);
	filter: drop-shadow(0 0 1rem rgb(255, 220, 22));
}